@import "main";

.about_us {
  width: 94.2rem;
  height: 93.5rem;
  display: flex;
  justify-content: space-between;
  background-color: $background-secondary;
}

.about_us__right_box {
  width: 94.2rem;
  height: 93.5rem;
  background-image: url("../assets/People.jpg");

}

.about_us__left_box {
  width: 65.7rem;
  height: 93.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10rem;
}

.about_us__heading_text {
  font-size: 3.8rem;
  margin-bottom: 2rem;
}

.about_us__text {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 5.5rem;
}

.about_us__decoration {
  width: 25.3rem;
  height: 3.3rem;
  background-image: url("../assets/Decoration.svg");
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.about_us__signature {
  width: 21rem;
  height: 15rem;
  font-size: 1.6rem;
  font-weight: 300;
  background-image: url("../assets/Signature.svg");
  margin-bottom: 2rem;
  margin-left: 50rem;
}