@import "main.scss";

.header {
  width: 100%;
  height: 96.3rem;
  display: flex;
}

.header_img {
  width: 88.5rem;
  height: 100%;
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}

.header_nav {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;

}

.header_nav_login {
  width: 100%;
  text-align: end;
  margin-right: 16rem;
}

.header_nav_login_li {
  font-size: 1.3rem;
  font-family: $font-base;
  color: $color-text;
  text-decoration: none;
  margin-right: 1rem;


}

.header_nav_login_link {
  padding-top: 1rem;
  font-size: 1.8rem;
  font-family: $font-base;
  color: $color-text;
  text-decoration: none;
  margin: 2rem;
  font-weight: normal;

}

.header_nav_menu {
  margin-top: 3.5rem;
  max-width: 100%;
  margin-left: 10rem;
}

.border_dark_link {
  border: 1px solid $color-text;
  padding: 1rem 2rem;
}

.border_yellow_link {
  border: 1px solid $color-border;
  padding: 1rem 2rem;
}

.header_nav_description {
  margin-top: 25rem;
  width: 67.4rem;
  margin-right: 10.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

.header_nav_description_h1 {
  font-size: 3.6rem;
  font-family: $font-base;
  color: $color-text;
  text-align: center;
  margin-bottom: 2rem;
}

.header_nav_description_span {
  font-family: $font-base;
  color: $color-text;

  text-align: center;
}

.header_nav_description_img {
  width: 25.3rem;
  height: 3.3rem;
  background-image: url("../assets/Decoration.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.header_nav_description_button {
  margin-top: 10rem;
  display: flex;
}

.header_nav_description_button_link {
  text-decoration: none;
  display: flex;
  text-align: center;
  font-size: 3.6rem;
  font-family: $font-base;
  font-weight: 300;
  color: $color-text;
}



.xdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31rem;
  height: 12rem;
  border: .1rem solid $color-text;
  margin-right: 4.4rem;
}